## Задача №1

In [2]:
#Для полноценного анализа Dataseta необходимо импортироровать следующие библиотеки  языка программирования Python
import pandas as pd
import scipy.stats as stats
import numpy as np

 * Скачать файл Dataseta

In [3]:
hd = pd.read_csv(r'E:\Python\Analiz\analytics-\kc_house_data.csv')
pd.set_option('display.max_columns',None )   # вывод максимального количества столбцов,в Data Frame

* Вывести на экран первые 5 строк

In [6]:
hd.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

* Посмотреть на описание признаков и на их содержание

- id - Уникальный ID для каждого дома
- date - Дата продажи дома
- price - Стоимость продажи дома
- bedrooms - Кол-во спален
- bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living - Кв. метры жилые
- sqft_lot - Кв. метры общие
- floors - Кол-во этажей
- waterfront - Есть набержная или нет
- view - Значение от 0 до 4 насколько хороший вид
- condition - Значение от 1 до 5 насколько хорошее состояние
- grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above - Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built - Год постройки дома
- yr_renovated - Год ремонта дома
- zipcode - Индекс
- lat - Широта
- long - Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 - Кв. метры общей площади у 15 соседей

## Задача № 2

* Проведите первичный анализ данных

In [8]:
hd.info() # узнаем типы данных

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
hd.dtypes

 В данном DataSete , присутствуют следующие типы данных:<br>
 int64 - целочисленные значения <br>
 float64- вещественные значения ( числа, у которых есть дробная часть)<br>
 object- строковые значения.

* Найдите количество пропущенных ячеек в данных

In [ ]:
hd.isnull().sum() #количество пропущенных ячеек

В данном DataSete, нет пропущенных ячеек

* Посчитайте основные статистики по всем признакам и поизучайте их

In [ ]:
hd.describe() # Сводная статистика

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
hd.describe(include=[object])   # только строковые столбцы

## Задача № 3<br>
Ответьте на несколько вопросов:

3.1 В каком диапазоне изменяются стоимости недвижимости?<br>

In [7]:
print('Диапазон изменения цены.',hd["price"].min() , hd["price"].max())

Диапазон изменения цены. 75000.0 7700000.0

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [10]:
fraction = round((hd["sqft_living"].mean()*100 / hd["sqft_lot"].mean()),1) # round округляет дробную часть
print(f'Доля занимамающей жилой площади составляет : {fraction}%')

Доля занимамающей жилой площади состовляет : 13.8%

3.3 Как много домов с разными этажами в данных?

In [ ]:
hd["floors"].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

3.4 Насколько хорошие состояния у домов в данных?<br>

In [ ]:
hd["condition"].value_counts(ascending=True) #вывод по возрастанию

1       30
2      172
5     1701
4     5679
3    14031
Name: condition, dtype: int64

3.5  Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [ ]:
first = hd['yr_built'].min()
print(f"Год постройки первого дома:{first}")

Год постройки первого дома:1900

In [ ]:
last = hd['yr_built'].max()
print(f"Год постройки последнего дома: {last}")

Год постройки последнего дома: 2015

## Задача № 4
Ответьте на несколько вопросов:

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [25]:
rooms = hd[hd["bedrooms"] == 2]
average  =round(rooms["price"].mean())
print(f'Средняя стоимость дома у которого 2 спальни составляет : {average}')

Средняя стоимость дома у которого 2 спальни состовляет : 401373

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?<br>

In [27]:
average = round(hd[hd["price"]>600000] ["sqft_lot"].mean())
print(f'Стоимость домов:{average}')

Стоимость домов:20443

4.3 Как много домов коснулся ремонт?

In [29]:
home = hd[hd["yr_renovated"]!=0].shape[0]
print(f'{home} Домов коснулся ремонт')

914 Домов коснулся ремонт

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [30]:
hd[hd['grade'] > 10]['price'].mean() - hd[hd['grade'] < 4]['price'].mean()

1488885.1175298805

## Задача № 5
Ответьте на несколько вопросов:

5.1 Выберите дом клиенту<br>
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [31]:
variant =hd[(hd['waterfront']!=0) & (hd['bathrooms']>=3) & (hd['sqft_basement'] != 0 )].shape[0]
print(f'Клиент может выбрать из {variant} варианта')

Клиент может выбрать из 41 варианта

5.2 Выберите дом клиенту<br>
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [39]:
choiсe = hd[((hd['view'] == 4) | (hd['waterfront'] != 0)) & (hd['yr_built'] >= 1980) & (hd['condition'] == 5)]['price']
mn= round(choiсe.min())
mx= round(choiсe.max())
print(f'Ценовой диапозон домов составляет: от {mn} до {mx}')

Ценовой диапозон домов состовляет: от 1295000 до 3000000

5.3 Выберите дом клиенту<br>
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [43]:
average = round(hd[(hd['sqft_basement'] == 0) & (hd['floors'] == 2) & (hd['price'] < 150000)]['condition'].mean(),1)
print(f'Средняя оценка домов составляет {average}')

Средняя оценка домов составляет 2.8